body
{
   font-family: 'Roboto', sans-serif;
   font-size: 10pt;
   margin: 0;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

a
{
   text-decoration: none;
}

h1
{
   font-size: 3em;
   font-weight: 500;
}

.container
{
   width: 1240px;
   max-width: 80%;
   margin: 0 auto;
}

header#page-header
{
   h1
   {
      font-weight: 300;
      margin: 0 0 0.33em;
   }
}

nav#page-navigation
{
   #page-navigation-links
   {
      margin: 0 -15px;
      padding: 0;
      text-align: right;

      > li
      {
         display: inline-block;
         vertical-align: top;

         > a
         {
            display: block;
            padding: 15px;
         }
      }
   }

   button
   {
      display: none;
   }
}

.dropdown-parent
{
   position: relative;

   .dropdown-menu
   {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: none;
      position: absolute;
      right: 0;
      width: calc(80vw + 20px);
      max-width: 1240px;
      padding: 15px;
      text-align: left;

      h4
      {
         margin: 0 0 .5em;
         font-size: 1.2em;
         font-weight: 500;
      }

      .dropdown-menu-block
      {
         float: left;
         display: inline-block;
         vertical-align: top;

         ul
         {
            padding: 0;
         }

         li
         {
            list-style-type: none;
            height: 2em;
            line-height: 2em;
            float: left;
            width: 20%;
            min-width: 100px;
            vertical-align: top;

            > a
            {
               display: block;
               padding: 0 1em;
            }
         }
      }

      #settings-theme-menu
      {
         width: 120px;
      }

      #settings-lang-menu
      {
         width: calc(100% - 120px);
      }
   }

   .dropdown-menu.open
   {
      display: block;
   }
}

article#page-content
{
   padding: 1em 0;

   h1
   {
      font-size: 5em;
      font-weight: 300;
      text-align: center;
      margin: 0;
   }

   h3
   {
      font-size: 3em;
      font-weight: normal;
      margin: 0 0 0.5em;
   }

   .build-group-listing
   {
      display: flex;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: flex-start;

      .build-group
      {
         width: #{(100% / 6)};
         min-width: 160px;
         flex-grow: 1;
         margin-bottom: 1em;

         h3
         {
            font-size: 2em;
            font-weight: 300;
            margin: 0 0 0.25em;
            letter-spacing: -0.08em;
         }

         p
         {
            margin: 0 0 0.6667em;
         }
      }
   }
}

ul.pagination
{
   text-align: center;
   margin: 0;
   padding: 0;

   > li
   {
      display: inline-block;
   }
}

footer#page-footer
{
   font-size: 0.85em;
}
