body, h1, h2, h3
{
    font-family: 'Hind', sans-serif;
}

h1
{
    font-size: 48px;
    font-weight: 300;
}

    h1 a
    {
        text-decoration: none;
        color: #000;
    }

#page-content
{
    padding-top: 50px;
}

.build-group-title
{
    font-size: 22px;
    font-weight: 300;
}

    .build-group-title .icon
    {
        font-size: 0.6em;
        vertical-align: 3px;
        display: inline-block;
        margin-left: 0.3em;
    }

.no-wrapping
{
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.label-build-status
{
    padding-bottom: 0;
}

.field-validation-error
{
    color: #ff4136;
}

.form-details label
{
    font-weight: bold;
}

#page-footer
{
    font-size: 12px;
    margin-top: 3em;
}

.form-horizontal .control-label
{
    padding-top: 8px;
}

label, .control-label, .help-block, .checkbox, .radio
{
    font-size: 14px;
}

.btn-reset
{
    padding: 9px 0 7px;
}

.table .btn
{
    padding: 4px 9px;
}

.table-admin h4
{
    margin: .1em 0;
}

.table-admin > tbody > tr > th,
.table-admin > tbody > tr > td
{
    vertical-align: middle;
}

.trumbowyg-box.trumbowyg, .trumbowyg-editor.trumbowyg
{
    margin: 0;
    width: 100%;
}

#search-results
{
    margin-top: 1em;
}

    #search-results .list-group-item
    {
        margin-bottom: 1em;
    }

    #search-results .list-group-item-heading
    {
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        #search-results .list-group-item-heading h4
        {
            font-size: 16px;
        }
