body, h1, h2, h3
{
   font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3
{
   text-shadow: none;
   font-weight: 300;
}

body
{
   font-size: 15px;
}

h1
{
   font-size: 52px;
   text-align: center;
   margin-bottom: 15px;
}

   h1 a
   {
      text-decoration: none;
      color: #000;
   }

@media(max-width: 480px)
{
   h1
   {
      font-size: 36px;
   }
}

h3
{
   font-size: 30px;
   margin: 1em 0 0.4em;
}

#page-content
{
   padding-top: 50px;
}

.addthis_sharing_toolbox
{
   margin: 0 -0.5em;
}

.at-share-tbx-element .at-share-btn
{
   margin-left: 8px !important;
}

   .at-share-tbx-element .at-share-btn:first-child
   {
      margin-left: 0 !important;
   }

.at_flat_counter
{
   vertical-align: 33% !important;
}

.build-group
{
   margin-bottom: 2em;
}

@media(max-width:767px)
{
   .build-group:nth-child(2n+1)
   {
      clear: left;
   }
}

.build-group-title
{
   font-size: 27px;
   font-weight: 300;
   letter-spacing: -1px;
   margin: 0 0 8px 0;
}

@media (max-width:480px)
{
   .build-group-title
   {
      font-size: 24px;
   }
}

.build-group-p
{
   color: rgba(255, 255, 255, 0.7);
   margin-bottom: 5px;
}

.no-wrapping
{
   -ms-text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.eager-wrapping
{
   -ms-word-wrap: break-word;
   word-wrap: break-word;
}

.label-build-status
{
   padding-bottom: 1px;
}

.field-validation-error
{
   color: #ff4136;
}

.form-details label
{
   font-size: 15px;
   font-weight: normal;
}

.form-details
{
   margin-top: 2em;
}

   .form-details .form-control-static
   {
      font-weight: bold;
      color: #eaeaea;
   }

      .form-details .form-control-static .more-link
      {
         font-weight: normal;
      }

   .form-details .row
   {
      margin-bottom: 0.5em;
   }

.credits-list dd + dt
{
   margin-top: 1.5em;
}

#page-footer
{
   font-size: 12px;
   margin-top: 3em;
}

.form-horizontal .control-label
{
   padding-top: 8px;
}

label, .control-label, .help-block, .checkbox, .radio
{
   font-size: 14px;
}

.btn-reset
{
   padding: 9px 0 7px;
}

.btn-xs
{
   font-size: 13px;
}

.table .btn
{
   padding: 4px 9px;
}

.table-admin h4
{
   margin: .1em 0;
}

.table-admin > tbody > tr > th,
.table-admin > tbody > tr > td
{
   vertical-align: middle;
}

.trumbowyg-box.trumbowyg, .trumbowyg-editor.trumbowyg
{
   margin: 0;
   width: 100%;
}

.trumbowyg-black .trumbowyg-dropdown button
{
   color: #fff !important;
}

#search-results
{
   margin-top: 1em;
}

   #search-results .list-group-item
   {
      margin-bottom: 1em;
   }

   #search-results .list-group-item-heading
   {
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

      #search-results .list-group-item-heading h4
      {
         font-size: 16px;
      }

@media (max-width: 767px)
{
}

@media (min-width: 768px) and (max-width: 991px)
{
   .col-sm-2.build-group:nth-child(6n+1),
   .col-sm-3.build-group:nth-child(4n+1)
   {
      clear: left;
   }
}

@media (min-width: 992px)
{
   .col-md-2.build-group:nth-child(6n+1)
   {
      clear: left;
   }
}

@media (min-width: 1200px)
{
}
