@{
   ViewBag.Title = $"{VariantTerms.Support_EmailValidationTitle} | {InvariantTerms.SiteName}";
}

<h1>@VariantTerms.Support_EmailValidationTitle</h1>
<p>@VariantTerms.Support_EmailValidationContent</p>