@{
    ViewBag.Title = $"{VariantTerms.Support_ValidationFailureTitle} | {InvariantTerms.SiteName}";
}

<h1>@VariantTerms.Support_ValidationFailureTitle</h1>
<p>@VariantTerms.Support_ValidationFailureContent</p>