@{
   ViewBag.Title = $"{VariantTerms.Support_ValidationSuccessTitle} | {InvariantTerms.SiteName}";
}

<h1>@VariantTerms.Support_ValidationSuccessTitle</h1>
<p>@VariantTerms.Support_ValidationSuccessContent</p>