body
{
   background-color: #f6f5f3;
   color: #373736;
}

h1 > a
{
   color: #373736;
}

#page-content
{
   background-color: #373736;
   color: #f6f5f3;

   h3
   {
      border-bottom-color: #ccc;
   }
}

#page-navigation
{
   background-color: #242423;
   color: #f6f5f3;

   #page-navigation-links
   {
      > li
      {
         a
         {
            color: #f6f5f3;
         }

         &.open > a,
         > a:hover
         {
            background-color: #373736;
         }
      }
   }
}

.dropdown-menu
{
   background-color: #242423;
   -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.15);
   -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.15);
   box-shadow: 0 5px 10px rgba(0,0,0,0.15);

   a:hover,
   a:focus,
   a:active
   {
      background-color: #373736;
   }
}

article
{
   -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.15) inset;
   -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.15) inset;
   box-shadow: 0 5px 10px rgba(0,0,0,0.15) inset;

   h1, h3
   {
      color: #d6d5d3;
   }

   .build-group > h3 > a,
   a.more-link,
   .build-details-comments a
   {
      color: #d6d5d3;
   }
}

ul.pagination
{
   > li.active > a
   {
      background: #f6f5f3;
      color: #242423 !important;
   }

   > li:hover:not(.disabled) > a,
   > li:focus:not(.disabled) > a,
   > li:active:not(.disabled) > a
   {
      background: #d6d5d3;
      color: #373736 !important;
   }
}
