body
{
   font-family: 'Roboto', sans-serif;
   font-size: 10pt;
   margin: 0;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

a
{
   text-decoration: none;

   &:hover,
   &:active,
   &:focus
   {
      text-decoration: underline;
   }
}

h1
{
   font-size: 3em;
   font-weight: 500;
}

p
{
   margin: 0 0 1em;
}

table
{
   width: 100%;
   border-collapse: collapse;

   th,
   td
   {
      margin: 0;
      border: 0;
      padding: 4px 6px;
   }

   thead th
   {
      border-bottom: 1px solid;
      text-align: left;
   }
}

.container
{
   width: 1240px;
   max-width: 80%;
   margin: 0 auto;
   position: relative;
}

.no-wrapping
{
   -ms-text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   text-overflow: ellipsis;
   overflow: hidden;
}

.eager-wrapping
{
   -ms-word-wrap: break-word;
   word-wrap: break-word;
}

header#page-header
{
   h1
   {
      font-weight: 300;
      margin: .33em 0;

      a
      {
         text-decoration: none;
      }
   }
}

nav#page-navigation
{
   #page-navigation-links
   {
      margin: 0 -15px;
      padding: 0;
      text-align: right;

      > li
      {
         display: inline-block;
         vertical-align: top;

         > a
         {
            display: block;
            padding: 15px;

            &:hover,
            &:active,
            &:focus
            {
               text-decoration: none;
            }
         }
      }
   }

   button
   {
      display: none;
   }
}

.dropdown-parent
{
   .dropdown-menu
   {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: none;
      position: absolute;
      right: -15px;
      max-width: 1240px;
      padding: 15px;
      text-align: left;
      z-index: 10;

      h4
      {
         margin: 0 0 .5em;
         font-size: 1.2em;
         font-weight: 500;
      }

      .dropdown-menu-block
      {
         float: left;
         display: inline-block;
         vertical-align: top;

         ul
         {
            padding: 0;
         }

         li
         {
            list-style-type: none;
            line-height: 2em;
            float: left;
            width: 20%;
            min-width: 100px;
            vertical-align: top;

            > a
            {
               display: block;
               padding: 0 1em;

               &:hover,
               &:active,
               &:focus
               {
                  text-decoration: none;
               }
            }
         }
      }

      #settings-theme-menu
      {
         width: 120px;
      }

      #settings-lang-menu
      {
         width: calc(100% - 120px);
      }
   }

   &.open
   {
      .dropdown-menu
      {
         display: block;
      }
   }
}

article
{
   padding: 2em 0;

   h1
   {
      font-size: 4em;
      font-weight: 300;
      text-align: center;
      margin: 0 0 #{(1em / 2)};

      &.eager-wrapping
      {
         font-size: 4em;
      }
   }

   h3
   {
      font-size: 2em;
      font-weight: bold;
      padding: 0 0 #{(1em / 3)};
      margin: #{(1em / 3)} 0 #{(2em / 3)};
      text-transform: uppercase;
      letter-spacing: #{(1em / 4)};
      border-bottom: 1px solid;
   }

   .build-group-listing
   {
      display: flex;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -0.75em;

      .build-group
      {
         width: 180px;
         flex-grow: 1;
         margin: 0 0.75em 1em;
         box-sizing: border-box;

         h3
         {
            font-size: 1.75em;
            font-weight: 300;
            padding: 0;
            margin: 0 0 0.4em;
            letter-spacing: -0.05em;
            border-bottom: 0;
            text-transform: lowercase;
         }

         p
         {
            font-size: 1.1em;
            font-weight: 300;
            margin: 0 0 #{(2em / 3)};
         }
      }

      .build-group-empty
      {
         width: 180px;
         flex-grow: 1;
         margin: 0 0.75em;
         box-sizing: border-box;
      }
   }
}

.latest-flex
{
   display: flex;
   -ms-flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 2em -2em 0 0;

   .latest-flex-item
   {
      width: 240px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #fff;
      flex-grow: 1;
      margin: 0 2em 2em 0;

      &:hover,
      &:active,
      &:focus
      {
         text-decoration: none;
      }

      h3.latest-flex-title
      {
         border-bottom: 0;
         margin: 0;
         padding: 0;
         font-size: 1.25em;
         font-weight: normal;
         text-align: center;
         padding: 0.4em 0.5em;
         margin: -1px;
         color: #fff;
      }

      &.latest-flex-red
      {
         border: #{(1em / 6)} solid #FF2626;

         h3.latest-flex-title
         {
            background: #FF2626;
         }
      }

      &.latest-flex-yellow
      {
         border: #{(1em / 6)} solid #FF9F19;

         h3.latest-flex-title
         {
            background: #FF9F19;
         }
      }

      &.latest-flex-green
      {
         border: #{(1em / 6)} solid #12B23F;

         h3.latest-flex-title
         {
            background: #12B23F;
         }
      }

      .latest-flex-detail
      {
         color: #373736;
         text-align: center;
         font-weight: 300;

         .latest-flex-build
         {
            font-size: #{(7em / 3)};
            margin: #{(1em / 3)} 0 #{(1em / 6)};
         }

         .latest-flex-lab
         {
            font-size: 1.5em;
            margin: 0 0 0.5em;
         }

         .latest-flex-time
         {
            margin: 0 0 0.75em;
         }
      }
   }
}

.latest-full
{
   display: block;
   background: #1274B2;
   font-weight: normal;
   text-align: center;
   color: #fff;
   margin: 0 0 2em;
   padding: #{(2em / 3)};

   &:hover,
   &:active,
   &:focus
   {
      text-decoration: none;
   }
}

.build-details-flex
{
   display: flex;
   font-size: 1.1em;

   .build-details-flex-item
   {
      flex-grow: 1;
      margin-bottom: 1.5em;

      label
      {
         font-weight: bold;
         display: inline-block;
         vertical-align: top;
         margin-right: 1em;
      }

      .build-details-flex-value
      {
         display: inline-block;
         vertical-align: top;
      }
   }
}

.form-group
{
   margin-bottom: 1.5em;

   > label
   {
      width: 20%;
      text-align: right;
      font-weight: bold;
      margin-right: 1em;
      display: inline-block;
      vertical-align: top;
   }

   > div
   {
      margin-left: calc(20% + 1em);
      width: 30%;
      display: inline-block;
      vertical-align: top;

      input, textarea, select
      {
         width: 100%;
      }

      input[type=submit],
      input[type=checkbox]
      {
         width: auto;
      }
   }

   > label + div
   {
      margin-left: 0;
   }
}

ul.pagination
{
   text-align: center;
   margin: 0 0 1em;
   padding: 0;
   display: flex;
   justify-content: center;

   > li
   {
      list-style: none;
      width: 1.5em;
      line-height: 1.5em;
      margin: 0 #{(1em / 4)};

      > a,
      > span
      {
         display: block;
         border-radius: 0.5em;
      }

      > span
      {
         cursor: not-allowed;
      }
   }
}

footer#page-footer
{
   padding: #{(4em / 3)} 0 #{(4em / 6)};
   font-size: 0.85em;

   .footer-flex
   {
      display: flex;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;

      .footer-flex-item
      {
         width: 50%;
         min-width: 200px;
         text-align: center;
         flex-grow: 1;

         &:last-child
         {
            text-align: right;
         }

         &:first-child
         {
            text-align: left;
         }
      }
   }

   p
   {
      margin: 0 0 #{(2em / 5)};
   }
}

#modal-search-overlay
{
   display: none;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   -moz-transition: background-color linear 0.6s, -webkit-backdrop-filter linear 0.6s, backdrop-filter linear 0.6s;
   -o-transition: background-color linear 0.6s, -webkit-backdrop-filter linear 0.6s, backdrop-filter linear 0.6s;
   -webkit-transition: background-color linear 0.6s, -webkit-backdrop-filter linear 0.6s, backdrop-filter linear 0.6s;
   transition: background-color linear 0.6s, -webkit-backdrop-filter linear 0.6s, backdrop-filter linear 0.6s;
   background-color: rgba(0,0,0, 0);
   -webkit-backdrop-filter: blur(0);
   backdrop-filter: blur(0);
   z-index: 100;

   &.open
   {
      display: block;
      background-color: rgba(0,0,0, 0.6);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
   }

   #modal-search
   {
      position: absolute;
      top: 20%;
      left: 25%;
      width: 50%;
      padding: 2em;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ccc;

      h3
      {
         margin: 0 0 1em;
         font-size: 1.5em;
         font-weight: 300;
      }

      > #modal-search-box
      {
         width: 100%;

         > *
         {
            display: inline-block;
            height: 2.5em;
            padding: 0.5em;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid;
         }

         > #modal-search-input
         {
            width: calc(100% - #{(10em / 3)});
         }

         > #modal-search-button
         {
            width: #{(8em / 3)};
         }
      }
   }
}

@media (max-width: 980px)
{
   #modal-search-overlay #modal-search
   {
      left: 10%;
      width: 80%;
   }
}
