body {
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #1274b2; }

h1 {
  font-size: 3em;
  font-weight: 500; }

p {
  margin: 0 0 1em; }

.container {
  width: 1240px;
  max-width: 80%;
  margin: 0 auto;
  position: relative; }

.no-wrapping {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden; }

.eager-wrapping {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

header#page-header h1 {
  font-weight: 300;
  margin: .33em 0; }

nav#page-navigation #page-navigation-links {
  margin: 0 -15px;
  padding: 0;
  text-align: right; }
  nav#page-navigation #page-navigation-links > li {
    display: inline-block;
    vertical-align: top; }
    nav#page-navigation #page-navigation-links > li > a {
      display: block;
      padding: 15px; }

nav#page-navigation button {
  display: none; }

.dropdown-parent .dropdown-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  position: absolute;
  right: -15px;
  max-width: 1240px;
  padding: 15px;
  text-align: left;
  z-index: 10; }
  .dropdown-parent .dropdown-menu h4 {
    margin: 0 0 .5em;
    font-size: 1.2em;
    font-weight: 500; }
  .dropdown-parent .dropdown-menu .dropdown-menu-block {
    float: left;
    display: inline-block;
    vertical-align: top; }
    .dropdown-parent .dropdown-menu .dropdown-menu-block ul {
      padding: 0; }
    .dropdown-parent .dropdown-menu .dropdown-menu-block li {
      list-style-type: none;
      line-height: 2em;
      float: left;
      width: 20%;
      min-width: 100px;
      vertical-align: top; }
      .dropdown-parent .dropdown-menu .dropdown-menu-block li > a {
        display: block;
        padding: 0 1em; }
  .dropdown-parent .dropdown-menu #settings-theme-menu {
    width: 120px; }
  .dropdown-parent .dropdown-menu #settings-lang-menu {
    width: calc(100% - 120px); }

.dropdown-parent.open .dropdown-menu {
  display: block; }

article {
  padding: 2em 0; }
  article h1 {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    margin: 0 0 0.5em; }
    article h1.eager-wrapping {
      font-size: 4em; }
  article h3 {
    font-size: 2em;
    font-weight: bold;
    padding: 0 0 0.33333em;
    margin: 0.33333em 0 0.66667em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    border-bottom: 1px solid; }
  article .build-group-listing {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -0.75em; }
    article .build-group-listing .build-group {
      width: 180px;
      flex-grow: 1;
      margin: 0 0.75em 1em;
      box-sizing: border-box; }
      article .build-group-listing .build-group h3 {
        font-size: 1.75em;
        font-weight: 300;
        padding: 0;
        margin: 0 0 0.4em;
        letter-spacing: -0.05em;
        border-bottom: 0;
        text-transform: lowercase; }
      article .build-group-listing .build-group p {
        font-size: 1.1em;
        font-weight: 300;
        margin: 0 0 0.66667em; }
    article .build-group-listing .build-group-empty {
      width: 180px;
      flex-grow: 1;
      margin: 0 0.75em;
      box-sizing: border-box; }

.latest-flex {
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em -2em 0 0; }
  .latest-flex .latest-flex-item {
    width: 240px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    flex-grow: 1;
    margin: 0 2em 2em 0; }
    .latest-flex .latest-flex-item h3.latest-flex-title {
      border-bottom: 0;
      margin: 0;
      padding: 0;
      font-size: 1.25em;
      font-weight: normal;
      text-align: center;
      padding: 0.4em 0.5em;
      margin: -1px;
      color: #fff; }
    .latest-flex .latest-flex-item.latest-flex-red {
      border: 0.16667em solid #FF2626; }
      .latest-flex .latest-flex-item.latest-flex-red h3.latest-flex-title {
        background: #FF2626; }
    .latest-flex .latest-flex-item.latest-flex-yellow {
      border: 0.16667em solid #FF9F19; }
      .latest-flex .latest-flex-item.latest-flex-yellow h3.latest-flex-title {
        background: #FF9F19; }
    .latest-flex .latest-flex-item.latest-flex-green {
      border: 0.16667em solid #12B23F; }
      .latest-flex .latest-flex-item.latest-flex-green h3.latest-flex-title {
        background: #12B23F; }
    .latest-flex .latest-flex-item .latest-flex-detail {
      color: #373736;
      text-align: center;
      font-weight: 300; }
      .latest-flex .latest-flex-item .latest-flex-detail .latest-flex-build {
        font-size: 2.33333em;
        margin: 0.33333em 0 0.16667em; }
      .latest-flex .latest-flex-item .latest-flex-detail .latest-flex-lab {
        font-size: 1.5em;
        margin: 0 0 0.5em; }
      .latest-flex .latest-flex-item .latest-flex-detail .latest-flex-time {
        margin: 0 0 0.75em; }

.latest-full {
  display: block;
  background: #1274B2;
  font-weight: normal;
  text-align: center;
  color: #fff;
  margin: 0 0 2em;
  padding: 0.66667em; }

.build-details-flex {
  display: flex;
  font-size: 1.1em; }
  .build-details-flex .build-details-flex-item {
    flex-grow: 1;
    margin-bottom: 1.5em; }
    .build-details-flex .build-details-flex-item label {
      font-weight: bold;
      display: inline-block;
      vertical-align: top;
      margin-right: 1em; }
    .build-details-flex .build-details-flex-item .build-details-flex-value {
      display: inline-block;
      vertical-align: top; }

.form-group {
  margin-bottom: 1.5em; }
  .form-group > label {
    width: 20%;
    text-align: right;
    font-weight: bold;
    margin-right: 1em;
    display: inline-block;
    vertical-align: top; }
  .form-group > div {
    margin-left: calc(20% + 1em);
    width: 30%;
    display: inline-block;
    vertical-align: top; }
    .form-group > div input, .form-group > div textarea, .form-group > div select {
      width: 100%; }
    .form-group > div input[type=submit] {
      width: auto; }
  .form-group > label + div {
    margin-left: 0; }

ul.pagination {
  text-align: center;
  margin: 0 0 1em;
  padding: 0;
  display: flex;
  justify-content: center; }
  ul.pagination > li {
    list-style: none;
    width: 1.5em;
    line-height: 1.5em;
    margin: 0 0.25em; }
    ul.pagination > li > a,
    ul.pagination > li > span {
      display: block;
      border-radius: 0.5em; }
    ul.pagination > li > span {
      cursor: not-allowed; }

footer#page-footer {
  padding-top: 1.33333em;
  font-size: 0.85em; }
  footer#page-footer .footer-flex {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer#page-footer .footer-flex .footer-flex-item {
      width: 50%;
      min-width: 200px;
      text-align: center;
      flex-grow: 1; }
      footer#page-footer .footer-flex .footer-flex-item:last-child {
        text-align: right; }
      footer#page-footer .footer-flex .footer-flex-item:first-child {
        text-align: left; }
  footer#page-footer p {
    margin: 0 0 0.4em; }

.modal-search-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4); }
  .modal-search-overlay .modal-search {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    background: #000;
    padding: 2em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ccc; }
    .modal-search-overlay .modal-search h3 {
      color: #fff;
      margin: 0 0 1em; }

