body
{
   background-color: #373736;
   color: #f6f5f3;
}

a
{
   color: #000;
}

h1 > a,
#page-footer a
{
   color: #f6f5f3;
}

table thead th
{
   border-bottom-color: #373736;
}

#page-content
{
   background-color: #f6f5f3;
   color: #373736;

   h3
   {
      border-bottom-color: #ccc;
   }
}

#page-navigation
{
   background-color: #e6e5e3;
   color: #373736;
   border-bottom-color: #373736;

   button
   {
      color: #373736;
   }

   #page-navigation-links
   {
      > li
      {
         a
         {
            color: #373736;
         }

         &.open > a,
         > a:hover
         {
            background-color: #f6f5f3;
         }
      }
   }
}

.dropdown-menu
{
   background-color: #e6e5e3;
   border-color: #373736;
   box-shadow: 0 5px 10px rgba(0,0,0,0.15);

   a:hover,
   a:focus,
   a:active
   {
      background-color: #f6f5f3;
   }
}

article
{
   box-shadow: none;

   h1, h3
   {
      color: #242423;
   }

   .build-group > h3 > a,
   a.more-link,
   .build-details-comments a
   {
      color: #242423;
   }
}

ul.pagination
{
   > li.active > a
   {
      background: #373736;
      color: #e6e5e3 !important;
   }

   > li:hover:not(.disabled) > a,
   > li:focus:not(.disabled) > a,
   > li:active:not(.disabled) > a
   {
      background: #242423;
      color: #f6f5f3 !important;
   }
}

#modal-search-overlay #modal-search
{
   background-color: #f6f5f3;

   h3
   {
      color: #373736;
   }

   > #modal-search-box > #modal-search-input,
   > #modal-search-box > #modal-search-button
   {
      background-color: #fff;
      color: #373736;
      border-color: #242423;
   }
}
