<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="PreserveLoginUrl" value="true" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="data:MongoDB" value="BuildFeed" />
      <add key="site:OSGLab" value="rs_prerelease" />
      <add key="site:InsiderLab" value="rs_prerelease" />
      <add key="site:ReleaseLab" value="rs1_release;rs1_release_inmarket;rs1_release_sec;rs1_release_inmarket_rim" />
   </appSettings>
   <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6" enableVersionHeader="false" />
      <globalization culture="auto:en" uiCulture="auto:en" />
      <trace enabled="true" requestLimit="40" pageOutput="false" />
      <sessionState cookieless="UseCookies" />
      <anonymousIdentification cookieless="UseCookies" enabled="false" />
      <authentication mode="Forms">
         <forms loginUrl="/login/" cookieless="UseCookies" name="BuildFeedAuth" />
      </authentication>
      <membership defaultProvider="BuildFeedMemberProvider">
         <providers>
            <clear />
            <add name="BuildFeedMemberProvider" type="MongoAuth.MongoMembershipProvider,MongoAuth" />
         </providers>
      </membership>
      <roleManager defaultProvider="BuildFeedRoleProvider" enabled="true">
         <providers>
            <clear />
            <add name="BuildFeedRoleProvider" type="MongoAuth.MongoRoleProvider,MongoAuth" />
         </providers>
      </roleManager>
      <httpModules />
      <httpHandlers />
   </system.web>
   <system.webServer>
      <urlCompression doDynamicCompression="true" />
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
         <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
         <remove name="OPTIONSVerbHandler" />
         <remove name="TRACEVerbHandler" />
         <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <modules />
      <rewrite>
         <rules>
            <rule name="(2015-05) Support Pages">
               <match url=".*" />
               <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                  <add input="{Support Pages:{REQUEST_URI}}" pattern="(.+)" />
               </conditions>
               <action type="Redirect" url="{C:1}" appendQueryString="true" />
            </rule>
            <rule name="(2015-05) Pagination">
               <match url="(.*)page/(\d+)/(.*)" />
               <action type="Redirect" redirectType="Permanent" url="/{R:1}{R:3}" />
            </rule>
            <rule name="(2015-12) Build Info Pages">
               <match url="^actions/info/([0-9a-f-]+)/(\?.+)?$" />
               <action type="Redirect" redirectType="Permanent" url="/build/{R:1}/{R:2}" />
            </rule>
            <rule name="(2016-07) RSS Flights">
               <match url="^rss/flight/([a-z-]+)/(\?.+)?$" />
               <action type="Redirect" redirectType="Permanent" url="/rss/" />
            </rule>
         </rules>
         <rewriteMaps>
            <rewriteMap name="Support Pages">
               <add key="/statistics/" value="/" />
               <add key="/support/question/" value="/" />
               <add key="/support/stats/" value="/" />
               <add key="/support/rss/" value="/rss/" />
               <add key="/actions/create/" value="/add/" />
               <add key="/support/login/" value="/login/" />
               <add key="/support/logout/" value="/logout/" />
               <add key="/support/password/" value="/password/" />
               <add key="/support/register/" value="/register/" />
               <add key="/support/sitemap/" value="/sitemap/" />
               <add key="/support/xmlsitemap/" value="/xml-sitemap/" />
            </rewriteMap>
         </rewriteMaps>
      </rewrite>
      <httpProtocol>
         <customHeaders>
            <clear />
            <add name="X-Content-Type-Options" value="nosniff" />
            <add name="X-Frame-Options" value="DENY" />
            <add name="X-XSS-Protection" value="1; mode=block" />
         </customHeaders>
      </httpProtocol>
   </system.webServer>
   <system.net>
      <mailSettings>
         <smtp configSource="smtp.config" />
      </mailSettings>
   </system.net>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
            <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.2.0.5639" newVersion="1.2.0.5639" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
   <system.codedom>
      <compilers>
         <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
         <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
      </compilers>
   </system.codedom>
</configuration>