<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="data:ServerHost" value="localhost" />
    <add key="data:ServerPort" value="6379" />
    <add key="data:ServerDB" value="1" />
    <add key="data:MongoDB" value="BuildFeed" />
    <add key="RouteDebugger:Enabled" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
    <globalization culture="qps-ploc" uiCulture="qps-ploc" enableClientBasedCulture="false" />
    <trace enabled="true" requestLimit="40" pageOutput="false" />
    <sessionState cookieless="UseCookies" />
    <anonymousIdentification cookieless="UseCookies" enabled="false" />
    <authentication mode="Forms">
      <forms loginUrl="/login/" cookieless="UseCookies" name="BuildFeedAuth" />
    </authentication>
    <membership defaultProvider="BuildFeedMemberProvider">
      <providers>
        <clear />
        <add name="BuildFeedMemberProvider" type="MongoAuth.MongoMembershipProvider,MongoAuth" />
      </providers>
    </membership>
    <roleManager defaultProvider="BuildFeedRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="BuildFeedRoleProvider" type="MongoAuth.MongoRoleProvider,MongoAuth" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <urlCompression doDynamicCompression="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="(2015-05) Support Pages">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{Support Pages:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="true" />
        </rule>
        <rule name="(2015-05) Pagination">
          <match url="(.*)page/(\d+)/(.*)" />
          <action type="Redirect" redirectType="Permanent" url="/{R:1}{R:3}" />
        </rule>
        <rule name="(2015-05) Build Info Pages">
          <match url="^actions/info/(\d+)/(\?.+)?$" />
          <action type="Redirect" redirectType="Permanent" url="/build/{R:1}/{R:2}" />
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="Support Pages">
          <add key="/support/question/" value="/" />
          <add key="/support/stats/" value="/statistics/" />
          <add key="/support/rss/" value="/rss/" />
          <add key="/actions/create/" value="/add/" />
          <add key="/support/login/" value="/login/" />
          <add key="/support/logout/" value="/logout/" />
          <add key="/support/password/" value="/password/" />
          <add key="/support/register/" value="/register/" />
          <add key="/support/sitemap/" value="/sitemap/" />
          <add key="/support/xmlsitemap/" value="/xml-sitemap/" />
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp configSource="smtp.config" />
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.20.0" newVersion="1.1.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.20.0" newVersion="1.1.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1899" newVersion="1.1.0.1899" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Instrumentation.Extensions.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.161" newVersion="1.0.0.161" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>