<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <system.web>
      <httpModules>
         <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" xdt:Transform="Insert" />
      </httpModules>
      <httpHandlers>
         <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" xdt:Transform="Insert" />
      </httpHandlers>
   </system.web>
   <system.webServer>
      <handlers>
         <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" xdt:Transform="Insert" />
      </handlers>
      <modules>
         <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" xdt:Transform="Insert" />
      </modules>
   </system.webServer>
</configuration>
