<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="58061ThomasHounsell.BuildFeed" Version="0.1.0.0" Publisher="CN=F0393BFB-ECFB-48D1-A79B-63FFDBD5BCB7" />
  <mp:PhoneIdentity PhoneProductId="5caadb66-1fc2-4492-b766-36354687120d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>BuildFeed</DisplayName>
    <PublisherDisplayName>Thomas Hounsell</PublisherDisplayName>
    <Logo>images\tiles\store\50px.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="https://buildfeed.net/">
      <uap:VisualElements DisplayName="BuildFeed" Description="BuildFeed is a service which tracks known builds of Microsoft Windows." BackgroundColor="transparent" Square150x150Logo="images\tiles\square\150px.png" Square44x44Logo="images\tiles\icon\44px.png">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="images\tiles\badge\24px.png" />
        <uap:DefaultTile Wide310x150Logo="images\tiles\wide\310px.png" ShortName="BuildFeed" Square71x71Logo="images\tiles\square\71px.png" Square310x310Logo="images\tiles\square\310px.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\tiles\wide\620px.png" BackgroundColor="#272b30" />
      </uap:VisualElements>
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://buildfeed.net/" Type="include" WindowsRuntimeAccess="none" />
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>