body, h1, h2, h3
{
    font-family: 'Source Sans Pro', sans-serif;
}

h1
{
    font-size: 48px;
    font-weight: 300;
}

    h1 a
    {
        text-decoration: none;
        color: #000;
    }

.social-links
{
    margin: 30px 0 6px;
}

    .social-links a
    {
        margin-left: 1em;
    }

.build-head
{
    margin-bottom: 0.33em;
}

    .build-head h3
    {
        margin: 0;
        display: inline-block;
    }

    .build-head .btn
    {
        display: inline-block;
        margin-right: 0.66em;
        vertical-align: text-bottom;
        padding: 2px 6px;
    }

.build-foot
{
    margin-bottom: 2em;
}

    .build-foot .badge
    {
        border-radius: 4px;
        font-weight: normal;
        color: #fff !important;
    }

        .build-foot .badge:first-child
        {
            min-width: 90px;
        }

li:last-child .build-foot
{
    margin-bottom: 0;
}

.fa-sm
{
    font-size: 0.7em;
    vertical-align: 1px;
    margin-right: 0.12em;
}

.more-link
{
    display: inline-block;
    font-size: 13px;
    vertical-align: 1px;
    border-bottom: 1px dashed #41c0e5;
    color: #31b0d5;
}

    .more-link .fa-sm
    {
        font-size: 11px;
        vertical-align: 0px;
    }

    .more-link:hover
    {
        color: #30829e;
        border-bottom-color: #50a2be;
        text-decoration: none;
    }

.field-validation-error
{
    color: #ff4136;
}

.form-details label
{
    font-weight: bold;
}

.panel-heading h4
{
    margin: 0;
}

.panel-search .list-group
{
    margin-bottom: 0;
}

.panel-search .list-group-item-heading {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

    .panel-search .list-group-item-heading h4
    {
        font-size: 16px;
    }

    .panel-search .list-group-item-heading strong
    {
        font-weight: normal;
    }

.pagination
{
    font-weight: normal;
}

    .pagination > li > a,
    .pagination > li > span
    {
        padding: 2px 7px;
        margin-left: 2px;
    }

#page-footer
{
    margin-top: 1em;
}

.form-horizontal .control-label
{
    padding-top: 8px;
}

label, .control-label, .help-block, .checkbox, .radio
{
    font-size: 14px;
}

.table .btn
{
    padding: 4px 9px;
}

.table-admin h4
{
    margin: .1em 0;
}

.table-admin > tbody > tr > th,
.table-admin > tbody > tr > td
{
    vertical-align: middle;
}

.trumbowyg-box.trumbowyg
{
    margin: 0;
    width: 100%;
}
