
@{
    ViewBag.Title = $"{VariantTerms.Support_ThanksRegister} | {BuildFeed.Local.InvariantTerms.SiteName}";
}

<h1>@VariantTerms.Support_ThanksRegister</h1>
<p>@VariantTerms.Support_AccountValidation</p>
