
@{
    ViewBag.Title = string.Format("{0} | {1}", BuildFeed.Local.Support.ThanksRegister, BuildFeed.Local.Common.SiteName);
}

<h2>@BuildFeed.Local.Support.ThanksRegister</h2>
<p>@BuildFeed.Local.Support.AccountValidation</p>
