
@{
    ViewBag.Title = "Administration | BuildFeed";
}

<h2>Administration</h2>

<ul>
    <li>@Html.ActionLink("Manage users", "index", "users")</li>
    @if (User.Identity.Name == "hounsell")
    {
        <li>@Html.ActionLink("Initial setup", "setup")</li>
    }
</ul>

