
@{
    ViewBag.Title = "Thank you asking a question | BuildFeed";
}

<h2>Thank you for asking a question.</h2>
<p>A member of the BuildFeed administration team will get in touch with a response to your question.</p>
