@import "_nord.scss";

$container-width: 1340px;
$border-size: 2px;

$strong-red: #A72F3B;
$strong-yellow: #F5B83D;
$strong-green: #76B540;
$strong-blue: #4076B5;

@mixin standard-box-shadow($color)
{
    box-shadow: 0 0 10px 0 rgba($color, 0.33);
}